---
layout: default
---

%section#introduction
  .wrapper
    %p Hello. I'm Chris and I am a freelance designer, web developer, and photographer. Over the past 20 years, I have worked projects ranging from simple, one-page sites (like this one) to a major presidential campaign site. Please feel free to <a href="mailto:ccl@chrisleonard.com">email me</a>. I would love to hear from you.
    
%section#portfolio

  // VII Corps DSVA
  %article.site#vii_corps
    .wrapper
      .logo
        %a{href: "http://areyou.desertstormvets.org/", title: "VII Corps Desert Storm Veterans Association: Are You a Desert Storm Vet?"}
          %img{src: "/img/vii_corps_dsva_logo.png", alt: "VII Corps Desert Storm Veterans Association (logo)"}
      .description
        %header
          %a{href: "http://areyou.desertstormvets.org/", title: "VII Corps Desert Storm Veterans Association: Are You a Desert Storm Vet?"}
            %h2 “Are You a Desert Storm Veteran?”
        %p “Are You a Desert Storm Veteran?” is a marketing site for the VII Corps Desert Storm Veterans Association, a non-profit that was formed to foster camaraderie between VII Corps Desert Storm veterans and to preserve the legacy of Operation Desert Shield/Storm.
        .roles
          %p Roles: Site Design, Development, Photography (not including historical images)
        .action
          %a.button{href: "http://areyou.desertstormvets.org/", title: "VII Corps Desert Storm Veterans Association: Are You a Desert Storm Vet?"} View Site

  // Texas Distilled Spirits Association
  %article.site#tdsa
    .wrapper
      .logo
        %a{href: "http://www.texasdistilledspirits.org/", title: "Texas Distilled Spirits Association"}
          %img{src: "/img/tdsa_logo_reversed.png", alt: "Texas Distilled Spirits Association"}
      .description
        %header
          %a{href: "http://www.texasdistilledspirits.org/", title: "Texas Distilled Spirits Association"}
            %h2 Texas Distilled Spirits Association
        %p The Texas Distilled Spirits Association is the official trade association for the Texas distilled spirits industry.
        .roles
          %p Roles: Site Design, Development, Photography
        .action
          %a.button{href: "http://www.texasdistilledspirits.org/", title: "Texas Distilled Spirits Association"} View Site
          
  // IT Caucus
  %article.site#it_caucus
    .wrapper
      .logo
        %a{href: "http://itcaucus.com/", title: "Innovation and Technology Caucus of the Texas House of Representatives"}
          %img{src: "/img/it_caucus_logo.png", alt: "Innovation and Technology Caucus of the Texas House of Representatives"}
      .description
        %header
          %a{href: "http://itcaucus.com/", title: "Innovation and Technology Caucus of the Texas House of Representatives"}
            %h2 Innovation and Technology Caucus of the Texas House of Representatives
        %p The Innovation and Technology Caucus of the Texas House is a policy shop and industry partner focusing on educating and informing members on ways to further advance technology industry innovation, growth, and competitiveness in Texas.
        .roles
          %p Roles: Site Design, Development
        .action
          %a.button{href: "http://itcaucus.com/", title: "Innovation and Technology Caucus of the Texas House of Representatives"} View Site
  
  // Wiggy's
  %article.site#wiggys
    .wrapper
      .logo
        %a{href: "http://www.wiggysliquor.com/", title: "Wiggy’s Liquor Store"}
          %img{src: "/img/wiggys_logo.png", alt: "Wiggy’s Liquor Store"}
      .description
        %header
          %a{href: "http://www.wiggysliquor.com/", title: "Wiggy’s Liquor Store"}
            %h2 Wiggy’s
        %p Wiggy’s is a pair of full service liquor and wine shops in the Clarksville neighborhood on the west side of downtown Austin, Texas.
        .roles
          %p Roles: Site Design, Development, Photography
        .action
          %a.button{href: "http://www.wiggysliquor.com/", title: "Wiggy’s Liquor Store"} View Site