---
layout: default
title: Logo Samples
---

.wrapper
  %figure.logo
    %img{src: "/img/logos/10spec.png", alt: "10SPEC logo"}
    %figcaption <strong>10SPEC:</strong> logo I developed for startup I&rsquo;m involved with
  %figure.logo
    %img{src: "/img/logos/dovetail.png", alt: "Dovetail logo"}
    %figcaption <strong>Dovetail Advisors:</strong> developed for a friend&rsquo;s consultancy
  %figure.logo
    %img{src: "/img/logos/purple_heart.png", alt: "Purple Heart Homes logo"}
    %figcaption <strong>Purple Heart Homes:</strong> draft logo for a potential legislative effort to help Purple Heart recipients with housing
  %figure.logo
    %img{src: "/img/logos/vii_corps_27.png", alt: "VII Corps 27th logo"}
    %figcaption <strong>VII Corps Desert Storm Veterans Association:</strong> identity for this association&rsquo;s 27<sup>th</sup> anniversary (the lettering, I obviously didn&rsquo;t design the VII Corps patch)